<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="life.soundmind.choco_pie_demo.dao.CompaniesMapper">

    <!-- 업체목록 selectCompaniesList -->
    <select id="selectCompaniesList" resultType="life.soundmind.choco_pie_demo.model.Companies">
        <![CDATA[
        /* life.soundmind.choco_pie_demo.dao.CompaniesMapper.selectCompaniesList */
        SELECT C.ID                                                 AS ID           /* 회사 id        */
             , C.NAME                                               AS NAME         /* 업체명         */
             , C.PHONE                                              AS PHONE        /* 업체전화번호   */
             , C.BUSINESS_ID                                        AS BUSINESS_ID  /* 사업자 번호    */
             , C.MEMO                                               AS MEMO         /* 업체메모       */
             , CONVERT_TZ(C.UPDATED_AT, '+00:00', '+09:00') AS UPDATED_AT   /* 수정시간 (예: UTC → KST) */
             , CONVERT_TZ(C.CREATED_AT, '+00:00', '+09:00') AS CREATED_AT   /* 생성된시간 */
          FROM CHOCO_PIE.COMPANIES                     C
        ]]>
        <where>
            <if test='name != null and name != ""'>
                <![CDATA[
                AND C.NAME LIKE CONCAT('%',#{name},'%')
            ]]>
            </if>
        </where>
        <![CDATA[
         ORDER BY C.CREATED_AT DESC
        ]]>
    </select>

    <!-- 업체단건 selectCompanies -->
    <select id="selectCompanies" resultType="life.soundmind.choco_pie_demo.model.Companies">
        <![CDATA[
        /* life.soundmind.choco_pie_demo.dao.CompaniesMapper.selectCompanies */
        SELECT C.ID                                                 AS ID           /* 회사 id        */
             , C.NAME                                               AS NAME         /* 업체명         */
             , C.PHONE                                              AS PHONE        /* 업체전화번호   */
             , C.BUSINESS_ID                                        AS BUSINESS_ID  /* 사업자 번호    */
             , C.MEMO                                               AS MEMO         /* 업체메모       */
             , CONVERT_TZ(C.UPDATED_AT, '+00:00', '+09:00') AS UPDATED_AT   /* 수정시간 (예: UTC → KST) */
             , CONVERT_TZ(C.CREATED_AT, '+00:00', '+09:00') AS CREATED_AT   /* 생성된시간 */
          FROM CHOCO_PIE.COMPANIES                     C
         WHERE C.ID =#{id}
         ORDER BY C.CREATED_AT DESC
        ]]>
    </select>

    <!-- 업체 regist -->
    <insert id="registCompanies">
        <![CDATA[
        INSERT /* life.soundmind.choco_pie_demo.dao.CompaniesMapper.registCompanies */
          INTO CHOCO_PIE.COMPANIES
          ( ID          
          , NAME        
          , PHONE       
          , BUSINESS_ID 
          , MEMO        
          , USE_YN      
          , CREATED_BY  
          , UPDATED_BY  
          , CREATED_AT  
          , UPDATED_AT 
          )
        VALUES ( #{id}
               , #{name}
               , #{phone}
               , #{businessId}
               , #{memo}
               ,
        ]]>
        <choose>
            <when test="useYn == null"> 1 </when>
            <otherwise> #{useYn} </otherwise>
        </choose>
        <![CDATA[
               , #{userId}
               , #{userId}
               , NOW()
               , NOW()
               )
            ON DUPLICATE KEY
        UPDATE NAME         = #{name}
             , PHONE        = #{phone}
             , BUSINESS_ID  = #{businessId}
             , MEMO         = #{memo}
        ]]>
        <if test="useYn != null">
            <![CDATA[
            , USE_YN = #{useYn}
            ]]>
        </if>
        <![CDATA[
             , UPDATED_BY   = #{userId}
             , UPDATED_AT   = NOW()
        ]]>
    </insert>

</mapper>