<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
>
  <head>
    <title>Blank</title>
  </head>

  <body>
    <!-- 본문 -->
    <th:block layout:fragment="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
      </div>
      <!-- /.container-fluid -->
    </th:block>
  </body>
</html>
