<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/defaultLayout}"
  layout:fragment="Content"
>
  <body>
    <div class="container-fluid py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bold mb-0">프로필 수정</h5>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0 m-0 small">
            <li class="breadcrumb-item text-black-50"><a href="/settings">Settings</a></li>
            <li class="breadcrumb-item active text-black" aria-current="page">Edit</li>
          </ol>
        </nav>
      </div>

      <!-- 프로필 수정 폼 -->
      <form id="profileEditForm" method="post" action="/api/settings/me" onsubmit="return false;">
        <input type="hidden" id="id" name="id" />
        <!-- 프로필 정보 테이블 -->
        <div class="p-3 rounded shadow-sm border border-1">
          <table class="table table-borderless align-bottom m-0">
            <colgroup>
              <col width="15%" />
              <col width="auto" />
            </colgroup>
            <tbody>
              <tr>
                <th><label for="loginId" class="form-label">아이디</label></th>
                <td><input type="text" class="form-control" id="loginId" name="loginId" disabled /></td>
              </tr>
              <tr>
                <th><label for="email" class="form-label">이메일</label></th>
                <td><input type="email" class="form-control" id="email" name="email" disabled /></td>
              </tr>
              <tr>
                <th><label for="name" class="form-label">이름</label></th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="이름을 입력해주세요."
                    data-validate="required pattern"
                    data-pattern="name"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="pwChangeBtn" class="form-label">비밀번호</label></th>
                <td>
                  <button
                    type="button"
                    id="pwChangeBtn"
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#pwChangeModal"
                  >
                    비밀번호 변경
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 버튼 그룹 -->
        <div class="mt-3 d-flex justify-content-between">
          <a href="/settings" class="btn btn-outline-secondary">취소</a>
          <button type="button" class="btn btn-outline-dark" onclick="updateProfile();">저장</button>
        </div>
      </form>
    </div>

    <!-- 비밀번호 변경 모달 -->
    <div id="pwChangeModal" class="modal fade" tabindex="-1" aria-labelledby="pwChangeLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pwChangeLabel"><strong>비밀번호 변경</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" id="findIdResult">
            <form id="changePasswordForm" name="changePasswordForm" onsubmit="return false;">
              <!-- 현재 비밀번호 입력 -->
              <div class="mb-3">
                <label for="currentPw" class="form-label">현재 비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPw"
                  name="currentPw"
                  placeholder="현재 비밀번호를 입력해주세요."
                  data-validate="required length pattern"
                  data-min="8"
                  data-max="50"
                  data-pattern="password"
                />
              </div>

              <!-- 새 비밀번호 입력 -->
              <div class="mb-3">
                <label for="changePw" class="form-label">새 비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  id="changePw"
                  name="changePw"
                  placeholder="새 비밀번호를 입력해주세요."
                  data-validate="required length pattern"
                  data-min="8"
                  data-max="50"
                  data-pattern="password"
                />
              </div>

              <!-- 새 비밀번호 확인 -->
              <div class="mb-3">
                <label for="confirmChangePw" class="form-label">새 비밀번호 확인</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmChangePw"
                  name="confirmChangePw"
                  placeholder="새 비밀번호 확인을 입력해주세요."
                  data-validate="required match"
                  data-match="#changePw"
                  data-match-name="비밀번호"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" onclick="changePassword();">비밀번호 변경</button>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/settings/edit.js}"></script>
  </body>
</html>
