              
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">
    <head>
        <!-- 페이지별 타이틀 입력 -->
        <title>메모양식</title>
        <!-- Custom styles for this page -->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
        <style>
            .input-box {
                border: 1px solid #ccc;
                min-height: 40px;
                padding: 5px;
                border-radius: 4px;
                cursor: text;
            }
            .chip {
                display: inline-block;
                background-color: #007bff;
                color: white;
                padding: 2px 6px;
                margin: 0 2px;
                border-radius: 12px;
                font-size: 0.9em;
                user-select: none;
            }
            #myTable {
                table-layout: fixed;
            }
        </style>
    </head>

    <body>
        <!-- 본문 -->
        <th:block layout:fragment="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">메모양식 관리</h1>
                <p class="mb-4">메모양식 정규식 작성 후 등록.</a></p>

                <!-- 조회조건 입력 -->
                <div class="card shadow mb-4">
                    
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">조회조건 입력</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <label for="name">대리점명:</label>
                            <input type="text" id="name" placeholder="Enter name">
                            <button id="searchButton">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- DataTales Example -->
                    <div class="col-md-8 card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">메모양식</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                
                    <!-- Grid 영역 -->
                    
                            <div class="">
                                <h4></h4>
                                <button id="addRowBtn" class="btn btn-info mb-2">행 추가</button>
                                <table id="myTable" class="display">
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>항목명</th>
                                        <th>보이는 값</th>
                                        <th>DB 저장용 값</th>
                                        <th>액션</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>name</th>
                                            <th>phone</th>
                                            <th>businessId</th>
                                            <th>memo</th>
                                            <th>index</th>
                                            <th>count</th>
                                            <th>size</th>
                                            <th>current</th>
                                            <th>even</th>
                                            <th>odd</th>
                                            <th>first</th>
                                            <th>last</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>name</th>
                                            <th>phone</th>
                                            <th>businessId</th>
                                            <th>memo</th>
                                            <th>index</th>
                                            <th>count</th>
                                            <th>size</th>
                                            <th>current</th>
                                            <th>even</th>
                                            <th>odd</th>
                                            <th>first</th>
                                            <th>last</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="companyRows" th:fragment="companyRows">
                                        <tr th:each="company, stat : ${companies}">
                                            <td th:text="${company.id}"></td>
                                            <td th:text="${company.name}"></td>
                                            <td th:text="${company.phone}"></td>
                                            <td th:text="${company.businessId}"></td>
                                            <td th:text="${company.memo}"></td>
                                            <td th:text="${stat.index}"></td>
                                            <td th:text="${stat.count}"></td>
                                            <td th:text="${stat.size}"></td>
                                            <td th:text="${stat.current}"></td>
                                            <td th:text="${stat.even}"></td>
                                            <td th:text="${stat.odd}"></td>
                                            <td th:text="${stat.first}"></td>
                                            <td th:text="${stat.last}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                    

                <!-- DataTales Example -->
                <div class="col-md-4  card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">메모양식</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            
                
                        <div class="editor-panel">
                            <h4></h4>
                            <div id="editorInfo">행을 선택하세요.</div>
                            <div><input type="text" id="item-name" class="form-control mt-2" style="min-height: 40px;" placeholder="이름"></div>
                            <div id="custom-input" class="form-control mt-2" contenteditable="true" style="min-height: 40px;" placeholder="표기양식"></div>
                                
                            <div style="margin-top:10px;">
                                <button class="add-btn" data-code="id" data-label="ID">+ID</button>
                                <button class="add-btn" data-code="store_id" data-label="대리점ID">+대리점ID</button>
                                <button class="add-btn" data-code="name" data-label="고객명">+고객명</button>
                                <button class="add-btn" data-code="phone" data-label="고객전화번호">+고객전화번호</button>
                                <button class="add-btn" data-code="birth" data-label="고객생년월일">+고객생년월일</button>
                            </div>

                            <div style="margin-top:10px;">
                                <button id="saveBtn">적용</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </th:block>
        
        <!-- Page level plugins/scripts -->
        <th:block layout:fragment="contentScripts">        
            <!-- Page level plugins -->
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
            <script src="https://unpkg.com/@yaireo/tagify"></script>
            <!-- Page level custom scripts -->
            <script th:src="@{/js/memo-templates.js}"></script>
        </th:block>
    </body>
</html>