<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/defaultLayout}"
  layout:fragment="Content"
>
  <body>
    <div class="container py-5">
      <div class="text-center">
        <h1>TEST</h1>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        common.sendAuthorize().then((isAuthorized) => {
          if (!isAuthorized) {
            console.log("세션 만료");
            //window.location.href = "/login";
          } else {
            console.log("인증");
          }
        });
      });
    </script>
  </body>
</html>
